{% extends 'home/base.html' %}
<h1>JENIL GANDHI</h1>
{% block user_name %} {{user.get_username}} {% endblock user_name %}
{% block feed %}
<form action="http://localhost:8000/home/add_post/" method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        <div style="margin-top:150px;margin-left:120px">
        {% for field in form %}
            <label for="{{field.id_for_label}}" class="label">
            {{field.html_name}}</label>
            {{field}}<br>
        {% endfor %}
        </div>
        {% comment %} <button type="submit" style="margin-left:120px">Upload</button>  {% endcomment %}
        <input type="submit" value="Submit"> 
    </form> 
{% endblock feed %}