{% extends 'home/base.html' %}
{% block user_name %}{{user.get_username}}{% endblock user_name %}
{% block feed %}
<h2 class="mt-3 gradient-text">Select Posts to Delete</h2><hr>
<form method="POST" action="{% url 'edit_post' %}">
{% csrf_token %}
<div class="list-group">
{% for i  in post_data %}
    <label class="list-group-item mt-2">
        <input class="form-check-input me-1" type="checkbox" name="{{i.post_id}}" value="{{i.post_id}}">
        <br>
        <div class="row">
            <div class="col-6">
                <img  src="http://localhost:8000/media/{{i.photo_url}}" style="width:300px;height:300px;object-fit: cover;" />
            </div>
            <div class="col-5">
                <div class="col">
                    <div class="row-2">
                        <b>Caption: </b>{{i.caption}}
                    </div>
                    <div class="row-2">
                        <b>Location: </b>{{i.location}}
                    </div>
                </div>
            </div>
        </div>
    </label>
{% endfor %}
</div>
<button class="btn btn-danger mt-2" type="submit">Delete selected posts</button>
</form>
{% endblock feed %}