
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'home/css/profile.css' %}" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <title>{{user.get_username}}</title>
  </head>
  <body>
    <div class="content-profile-page">
      <div class="profile-user-page card">
        <div class="img-user-profile">
          <img
            class="profile-bgHome cover"
            src="http://localhost:8000/media/home/post_images/ashim-d-silva-WeYamle9fDM-unsplash.jpg"
          />
          <img
            class="avatar cover"
            src="http://localhost:8000/media/home/post_images/a.jpg"
            alt="jofpin"
          />
        </div>
        {% if followed %}
          <button class="followed">UnFollow</button>
          {% else %}
          <button class="not_followed">Follow</button>
        {% endif %}
        <div class="user-profile-data">
          <h1>{{user.get_username}}</h1>
          
          {% if bio %}
          <p><i>{{bio}}</i></p>
          {% else %}
          <p>No Bio</p>
          {% endif %}
        </div>
        
        <ul class="data-user">
          <li>
            <a href="http://localhost:8000/home/profile/"
              ><strong>{{n_posts}}</strong><span>Posts</span></a
            >
          </li>
          <li>
            <a><strong>{{followers}}</strong><span>Followers</span></a>
          </li>
          <li>
            <a><strong>{{following}}</strong><span>Following</span></a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-4"><img src="http://localhost:8000/media/home/post_images/ashim-d-silva-WeYamle9fDM-unsplash.jpg" class="rounded-0 cover my-3" style="width:220px;height:220px"></div>
        <div class="col-4"><img src="http://localhost:8000/media/home/post_images/ashim-d-silva-WeYamle9fDM-unsplash.jpg" class="rounded-0 cover my-3" style="width:220px;height:220px"></div>
        
        
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>
