{% extends 'home/base.html' %}
{% block user_name %}{{user.get_username}}{% endblock user_name %}
{% block feed %}

<table class="table table-dark table-striped" >

    <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"><div style="margin-left:210px;font-size: 30px;"><b>Settings</b></div></th>
          
        </tr>
      </thead>
      <tbody>
        <a href="#"><tr>
          <th scope="row"><i class="far fa-edit"></i></th>
          <td><a href="{% url 'edit_post' %}" style="text-decoration:none;color:white">Edit Post</a></td>
          
        </tr></a>
        <tr>
          <th scope="row"><i class="fas fa-exclamation-triangle"></i></th>
          <td><a href="#" style="text-decoration:none;color:white">Report Post</a></td>
          
        </tr>
        <tr>
        
          <th scope="row"><i class="fas fa-trash"></i></th>
          <td colspan="2"><a href="{% url 'del_ac' %}" style="text-decoration:none;color:white">Delete Account</a></td>
          
        </tr>
      </tbody>
  </table>
<!-- Pre styled web component desgined purely in html and css.     -->

{% endblock feed %}