{% extends 'home/base.html' %}
{% load static %}
{% block user_name %} {{user.get_username}} {% endblock user_name %}
{% block title %}Search
{% endblock title %}
{% block feed %}
<div class="container mt-3">
<h1 class="gradient-text">Search</h1>
<div class="form-floating mb-3 ">
{% comment %} <form method="post" action="http://localhost:8000/search/search_query"> {% endcomment %}
<div>
  {% csrf_token %}
  <input type="text" name="search_query" class="form-control search_bar" id="search_query" placeholder="Search the world">
  <label for="floatingInput" name="search_query" class="gradient-text">Search by username or id</label>
{% comment %} </form> {% endcomment %}
</div>
<ul id="search_res" class="list-group ">
</ul>
</div>
</div>
<hr>
<h2 class="gradient-text">See what's trending</h2>
<div class="row">
{% for famous in posts %}
  
  <div class="col">
          <img
            src="{{famous.url}}"
            class="rounded-0 cover my-3 myimg"
            style="width: 220px; height: 220px">
         
          <div class="mydiv">
            <div class="row">
              <div class="col-2"><i class="fas fa-heart fa-lg">{{famous.likes}}</i></div>
              <div class="col-2"><i class="fas fa-comment fa-lg">{{famous.comments}}</i></div>
            </div>
          </div>
        </div>
{% endfor %}

</div>
{% endblock feed %}
{% block css_links %}
<link rel="stylesheet" href="{% static 'search/css/search.css' %}" />

{% endblock css_links %}

{% block js %}

<script src="{% static 'search/js/search.js' %}">
</script>

{% endblock js %}



