{% extends 'home/base.html' %}
{% load static %}
{% block user_name %} {{user.get_username}} {% endblock user_name %}
{% block title %}Search
{% endblock title %}
{% block feed %}
<div class="container mt-3">
<h1 class="gradient-text">Search</h1>
<div class="form-floating mb-3 ">
{% comment %} <form method="post" action="http://localhost:8000/search/search_query"> {% endcomment %}
<div>
  {% csrf_token %}
  <input type="text" name="search_query" class="form-control search_bar" id="search_query" placeholder="Search the world">
  <label for="floatingInput" name="search_query" class="gradient-text">Search by username or id</label>
{% comment %} </form> {% endcomment %}
</div>
<ul id="search_res" class="list-group ">
</ul>
</div>
</div>
<hr>
<h2 class="gradient-text">See what's trending</h2>
<div class="row">
{% if famous %}
{% for famous in posts %}
  
  <div class="col">
          <img
            src="{{famous.url}}"
            class="rounded-0 cover my-3 myimg"
            style="width: 220px; height: 220px">
         
          <div class="mydiv">
            <div class="row">
              <div class="col-2"><i class="fas fa-heart fa-lg">{{famous.likes}}</i></div>
              <div class="col-2"><i class="fas fa-comment fa-lg">{{famous.comments}}</i></div>
            </div>
          </div>
        </div>
{% endfor %}
{% else %}
<div class="card text-center">
  <div class="card-header" style="background-color:#353839;color:white">Trending stories would appear here</div>
  <div class="card-body" style="background-color:#4a4a4a;color:white">
    <h5 class="card-title"></h5>
    <p class="card-text">
      Wanna be on the trending page gather likes and comments and we would find out you!
      While we set up what's trending checkout your friends
    </p>
    <a href="http://localhost:8000/search" class="btn" style="background-color:pink;color:black">Search your friends</a>
  </div>
  <div class="card-footer text-muted" style="background-color:#353839;"><p style="color:white;height:7px">Today</p></div>
</div>
{% endif %}
</div>
{% endblock feed %}
{% block css_links %}
<link rel="stylesheet" href="{% static 'search/css/search.css' %}" />

{% endblock css_links %}

{% block js %}

<script src="{% static 'search/js/search.js' %}">
</script>

{% endblock js %}



