@import url('https://fonts.googleapis.com/css?family=Proxima_nova');
.nav1{
    background-image: linear-gradient(100deg,#833AB4,#c13584,#e1306c);
    height: 60px;
    color: #fffafa;
    font-size: medium;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    
}

body{
    font-family: Neue Helvetica;
    background-color: #fffdfc;
}
.cont{
    box-shadow: 0 2px 8px rgba(0,0,0,.4);
}
.heart:hover{
    color:#f50057
}
.comment:hover{
    color:#10e8e4
}
.tmp{
    outline: none;
}
.form-control{
    border: 1px solid;
    border-image-slice: 1;
    border-width: 3px;
    outline: none;
    border-image-source: linear-gradient(to right, #ac88eb, #ee93cd);
}
.form-control:focus{
    border: 0;
    outline: none;
    outline-color:white ;
    border:3px solid ;
    border-image-slice:3%;
    border-image-source: linear-gradient(to right,#ee93cd,#ac88eb);
}
.sub-button{
    color:white;
    background-image:linear-gradient(to left,#764ba2,#eb801d);
    border: chartreuse;
    /* font-color: */
    /* #a1c4fd → #c2e9fb */
   
}
.cust_but{
    background-image: linear-gradient(135deg ,#405DE6,#5851DB,#833AB4,#c13584,#e1306c,#fd1d1d);
    color: white;
    border-radius: 3px;
    
}
.cust_but:hover{
    color:#e6d9d9
}
