.nav1{
    background-image: linear-gradient(to right, #fbad50, #b665e6);
    height: 70px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.2);
    
}

body{
    background-color: #fffdfc;
}
.cont{
    box-shadow: 0 2px 8px rgba(0,0,0,.4);
}
.heart:hover{
    color:#f50057
}
.comment:hover{
    color:#10e8e4
}
.form-control:focus{
    border: 0;
    outline: #fbad50;
}