{% extends 'business_dashboard/dashboard_base.html' %}
{% load static %}
{% block items %}
      <div class="col" style="color: white">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <div class="row mx-3 mt-3">
          <div class="chart_container col-4 mx-3">
            <h2>Likes</h2>
            <div class="chart_sub_container">
              <canvas id="myChart" width="900" height="800"></canvas>
            </div>
          </div>
          <div class="chart_container col-4 mx-3">
            <h2>Followers</h2>
            <div class="chart_sub_container">
              <canvas id="myChart1" width="900" height="800"></canvas>
            </div>
          </div>
          <div class="chart_container_fill col-12 mx-3">
            <h2>Total Gained Followers</h2>
            <div class="row">
              <div class="col-8 chart_sub_container_fill">
                <canvas
                  id="monthly_followers"
                  width="500px"
                  height="400px"
                ></canvas>
              </div>
              <div class="col-4">
                <div class="side_container">
                <h2>Notes</h2>
                <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="chart_container_fill col-12 mx-3">
            <h2>Type Of People Who Follow You</h2>
            <div class="row">
              <div class="col-8 chart_sub_container_fill">
                <canvas
                  id="people_follow"
                  width="500px"
                  height="400px"
                ></canvas>
              </div>
              <div class="col-4">
                <div class="side_container_1">
                <h2>Notes</h2>
                <ul>
                <li>These insights could be predicted on the machine learning models which would analyze your your post and would try to spot your face and predict your age and store the same in the database</li><br>
                <li>Currently we have not developed this.</li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script src="{% static 'business/js/business.js' %}"></script>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
{% endblock items %}